<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<style>

		ul li {
			/* css styles go here */
			font-size:20px;
		}

		label{
			font-size:20px;

		}

	</style>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<title>Ağ Programlama Ödevi</title>


	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
	<script  type="text/javascript">

		function saveNote() {

		    var title = document.getElementById('title').value;
            var content = document.getElementById('content').value;

            var newNote={};

            newNote["title"]=title;
            newNote["content"]=content;

            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: "http://localhost:8080/api/notes/",
                data: JSON.stringify(newNote),
                dataType: 'json',
                cache: false,
                timeout: 600000,
                success: function (data) {

                  alert("kayıt başarılı");

                },
                error: function (e) {

                    alert("başarısız");
                    console.log("ERROR : ", e);


                }
            });




        }


      function deleteNote(id) {
			var del=false;
		    var deleteId=id;
          $.ajax({
              type : "DELETE",
              url : "http://localhost:8080/api/notes/delete/" + deleteId,
              success: function (result) {
                 // alert("note silindi!!");
				  del=true;
              },
              error: function (e) {
                  console.log(e);
              }
          });

              location.reload();






      }


       function a(id) {

		    var idNumber=id;
		   // alert("id"+parseInt(id));
           $.ajax({
               url: "http://localhost:8080/api/notes/"+idNumber,  // the local Node server
               method: 'GET',
               success: function(data){
                   // JSON.stringify(data);
				   $("#mBody").text(data.content);
                   $("#mHeader").text(data.title);
                   $("#-3").attr('id',data.id);
               // alert("get data ::"+ data.title+data.content)
                   // alert(data[0].mesaj); //display data in cosole to see if I receive it
               }

           })



			$("#showModal").click();
		   //alert("tıkladı");
       }

		function foo() {

			//alert("foo girdi");
            $("#messages").empty();
            $.ajax({
                url: "http://localhost:8080/api/notes",  // the local Node server
                method: 'GET',
                success: function(data){
                    // JSON.stringify(data);
                    for (var i in data) {
                        // alert(data[i].mesaj);
						//alert(data[i].content+data[i].content);

                        console.log("gelen"+data.id)
                        $('#messages').append($('<option id="-2" onclick="a(this.id)">').text(data[i].title));
                      //  $('#messages').append($('<li id="-2" onclick="a(this.id)">').text(data[i].title));
                        $("#-2").attr('id',data[i].id);
                        //<option>text1</option>


                    }
                    // alert(data[0].mesaj); //display data in cosole to see if I receive it
                }

            })

        }



	</script>
</head>
<body onload="foo()" background="/img/18.jpg"
	style="background-position: center; background-repeat: no-repeat; background-size: cover;">

	<noscript>
		<h2>Sorry! Your browser doesn't support Javascript</h2>
	</noscript>
<div style="float: right">

<button class="btn btn-primary">	<a style="color: #000000;" th:href="@{chat.html}">Sohbet Et</a></button>

</div>

	<div class="container">

		<div class="row">

			<div style="margin-right: 100px;margin-top: 60px;" class="col-sm-6">

				<div style="background-color: inherit;">

					<h2 style="margin-bottom: 40px;color: #000000">Not Ekle</h2>

				</div>


				<form>
					<div class="row">
						<div class="col-sm-12 form-group">
							<label for="title">
								Başlık:</label>
							<input type="text" class="form-control" id="title"/>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 form-group">
							<label for="content">
								İçerik:</label>
							<textarea  class="form-control" type="textarea" id="content" maxlength="6000" rows="7"></textarea>
						</div>
					</div>



					<div class="row">
						<div class="col-sm-12 form-group">
							<button onclick="saveNote()" class="btn btn-lg btn-success pull-right" >Ekle →</button>
						</div>
					</div>
				</form>
			</div>


			<div class="col-sm-6"></div>

			<h2 style="margin-bottom: 60px;margin-top: 80px;background-size: 50px 50px;color: #000000;">Notlarım</h2>

			<select id="messages" size="5" style="height: 290px;width: 400px;">


			</select>

		</div>



	</div>

	<!-- Trigger the modal with a button -->
	<button style="display: none;" id="showModal" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

	<!-- Modal -->
	<div  style="margin-top: 75px;" id="myModal" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 style="color: red" class="modal-title" id="mHeader">Modal Header</h4>
				</div>
				<div class="modal-body">
					<p id="mBody">Some text in the modal.</p>
				</div>
				<div class="modal-footer">
					<button type="button"  id="-3" onclick="deleteNote(this.id)" style="float: left" class="btn btn-danger" data-dismiss="modal">Notu Sil</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
				</div>
			</div>

		</div>
	</div>





</body>
</html>